python-dotenv
pyaudio
pvporcupine
faster-whisper
deepgram-sdk
edge-tts
langchain
langchain-community
openai
google-generativeai
chromadb
requests
spotipy
pywhatkit
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
schedule
APScheduler
elevenlabs
jupyter
ipykernel
openwakeword
numpy
vosk
SpeechRecognition
langchain-ollama
langchain-google-genai
pygame
