python-dotenv
pyaudio
faster-whisper
edge-tts
langchain
langchain-community
google-generativeai
requests
spotipy
pywhatkit
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
schedule
APScheduler
jupyter
ipykernel
openwakeword
numpy
SpeechRecognition
langchain-ollama
langchain-google-genai
pygame
langchain-chroma 
langchain-huggingface 
sentence-transformers