python-dotenv
pyaudio
numpy
openwakeword
SpeechRecognition
faster-whisper
langchain
langchain-ollama
langchain-google-genai
jupyter
edge-tts
pygame
nest-asyncio
langchain-chroma
protobuf==3.20.3
langchain-huggingface
sentence-transformers
requests